@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

}

.container-car-list {
  margin-top: 25px;
  border-radius: 10px;
  background-color: #B4B8AB;
  padding: 10px;
}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;

}

#ads .card-opacity{
  opacity: 0.5;
}

.container h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #284B63;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #B4B8AB;;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #e6de08;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {
        background: #284B63;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #B4B8AB;
        padding: 5px 10px;
        font-size: 14px;
    }



#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;

    }


#ads .card-image-overlay span {
            display: inline-block;
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #284B63;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #B4B8AB;
        overflow: hidden;
        position: relative;
        background-color: #284B63;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #284B63;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
