

.card-body p {
  color: #2a3cad;
}

.card-body span {
  color: black;
}


/* CSS */
// .button-55 {
//   border: #B4B8AB;
//   align-self: center;
//   background-color: $indigo_blue;
//   background-image: none;
//   background-position: 0 90%;
//   background-repeat: repeat no-repeat;
//   background-size: 4px 3px;
//   border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
//   border-style: solid;
//   border-width: 2px;
//   box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
//   box-sizing: border-box;
//   color: $ash_gray;
//   cursor: pointer;
//   display: inline-block;
//   font-family: Neucha, sans-serif;
//   font-size: 1rem;
//   line-height: 23px;
//   outline: none;
//   padding: .75rem;
//   text-decoration: none;
//   transition: all 235ms ease-in-out;
//   border-bottom-left-radius: 15px 255px;
//   border-bottom-right-radius: 225px 15px;
//   border-top-left-radius: 255px 15px;
//   border-top-right-radius: 15px 225px;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
//   text-decoration: none;
// }


// .button-55:hover {
//   box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
//   transform: translate3d(0, 2px, 0);
//   color: #B4B8AB;
// }

// .button-55:focus {
//   box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
// }

.my_class {
  position: absolute;
  right: 14px;
  top: 69px;
}

*{
  margin:0;
  padding:0;
}

.container{  padding-top: 20px;
  padding-bottom: 20px;}
body{
  background-color: #111845;
}

.background-img{
  background-image: url("https://3.bp.blogspot.com/-piZWCW2uUbg/W2fPXxkWZgI/AAAAAAAAOu0/eydmMjTIqcwLMHEEr2H7imqoRTxMw4o9QCLcBGAs/s1600/among_trees_night_dribbble.png");
height: 400px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% auto;
  padding:20px;
  border: 1px solid #2a3cad;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #2a3cad;
  position: relative;
}

.content h2{ font-size:19px;}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
  transform-origin: right;

  }


}


body {
  margin-top: 100px; /* adjust the value to your desired margin size */
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #2a3cad;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  text-align: center;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    1000deg,
    #00ffd5,
    #002bff,
    #7a00ff,
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

