<div class="footer">
  <img src="app/assets/car_loop.gif" alt="car loop">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Welcome to our car Rental, where you can drive what you dream<i class="fa-thin fa-car-wrench"></i>
  </div>
</div>

