.navbar-lewagon {
  justify-content: space-between;
  width: 100%;
  top: 0;
  background-color: white;
  height: 50px; /* Set the same height as the footer */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 10px;
  visibility: visible;
}

#title{
  font-family: 'Gloock', serif;
  text-shadow: 20%;
}
