<div class="container container-car-list">
  <br>
  <div class="container card text-center p-1 w-50 rounded">
    <h3 class="mt-3"><strong>Wonderfull Cars</strong></h3>
  </div>
  <br>
  <div class="row" id="ads">
    <!-- Category Card -->

    <% @cars.each do |car| %>
      <div class="container col-md-3 col-4" data-controller="booked-date" data-booked-date-unavailable-value="<%= car.unavailable? %>" data-booked-date-ends-at-value="<% car.current_booking_ends_at if car.current_booking %>" style="margin-top:50px;">
          <div>
            <div class="card-sl" data-booked-date-target="notAvailable">
              <div class="card-image">
                  <img
                      src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
              </div>

              <a class="card-action" href="#"><i class="fa-solid fa-car"></i></a>
              <div class="card-heading">
                  <%="#{car.brand} #{car.model}" %>
              </div>
              <div class="card-text">

              </div>
              <div class="card-text">
                  <h4><%= "#{car.price_per_day.to_i} € per day" %></h4>
              </div>
              <%= link_to car_path(car), class:"card-button" do %>
                <button class="card-button"> Rent Now</button>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
